html {
  background-image: url('../images/bg01.jpg');
}
body {
  background-image: url('../images/bg02.jpg');
  background-repeat: repeat-x;
  background-position: top left;
}
.nav {
  height: 125px;
  background-repeat: no-repeat;
  background-image: url('../images/nav-bg.jpg');
}
.frame-top {
  background-image: url('../images/bg03.jpg');
  background-repeat: no-repeat;
  height: 54px;
}

/******** content **********/
.content {
/*  height: 300px;*/
  background-image: url('../images/bg04.jpg');
}
.content .top {
  background-image: url('../images/bg05.jpg');
  background-repeat: no-repeat;
  overflow: visible;
/*  height: 321px;*/
}
.content .main {
  
}
.content .bottom {
  background-image: url('../images/bg06.jpg');
  background-repeat: no-repeat;
/*  height: 230px;*/
}

/********* footer *********/
.footer {
  text-align: center;
}